{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href='/static/styles.css'>
<title>ניהול קניות</title>
{% endblock %}

{% block body %}
<h2>ניהול קניות</h2>
<form method="POST" action="/shopping/{{user_email}}">
    <label for="product">שם המוצר:</label>
    <input type="text" name="product" required>
    <label for="category">קטגוריה:</label>
    <input type="text" name="category" required>
    <label for="quantity">כמות:</label>
    <input type="number" name="quantity" required>
    <label for="price">מחיר:</label>
    <input type="number" step="0.01" name="price" required>
    <label for="date">תאריך:</label>
    <input type="date" name="date" required>
    <button type="submit">הוסף קניה</button>
</form>

<h3>היסטוריית קניות</h3>
<form method="GET" action="/view_purchases/{{user_email}}">
    <label for="start_date">מתאריך:</label>
    <input type="date" name="start_date">
    <label for="end_date">עד תאריך:</label>
    <input type="date" name="end_date">
    <button type="submit">הצג קניות</button>
</form>
{% if purchases %}

{% include "view_purchases.html" %}
{% else %}
<p>אין רכישות להצגה.</p>
{% endif %}
{% endblock %}
