{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href='/static/styles.css'>
<title></title>
{% endblock %}

{% block body %}
<h2>Expense Analysis</h2>
<nav>
    <button onclick="loadGraph('monthly_expenses')">הוצאות לפי חודשים</button>
    <button onclick="loadGraph('category_pie')">פילוח הוצאות לפי קטגוריות</button>
    <button onclick="loadGraph('current_vs_avg')">חודש נוכחי לעומת הוצאות חודשיות ממוצעות</button>
</nav>
<img id="graph_display" src="" alt="Select a graph to display" style="display:none; margin-top: 20px; max-width: 80%;">

<script>
    function loadGraph(graphType) {
        const userEmail = "{{ user_email }}";
        const imgElement = document.getElementById("graph_display");

        imgElement.src = `/show_graph/${userEmail}/${graphType}`;
        imgElement.style.display = "block";
    }
</script>
{% endblock %}
